<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creacion de producto</title>
</head>
<body>
    <h2>Crear Nuevo Producto</h2>
    <form id="productForm">
        <label for="title">Título:</label><br>
        <input type="text" id="title" name="title"><br>

        <label for="description">Descripción:</label><br>
        <textarea id="description" name="description"></textarea><br>

        <label for="code">Código:</label><br>
        <input type="text" id="code" name="code"><br>

        <label for="price">Precio:</label><br>
        <input type="number" id="price" name="price"><br>

        <label for="stock">Stock:</label><br>
        <input type="number" id="stock" name="stock"><br>

        <label for="category">Categoría:</label><br>
        <input type="text" id="category" name="category"><br>

        <label for="thumbnails">URL de la Imagen:</label><br>
        <input type="text" id="thumbnails" name="thumbnails"><br>

        <input type="submit" value="Crear Producto">
    </form>


    <script src="../../public/scripts.js"></script>
</body>
</html>